.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

.playAgain {
  background: #00ffd5;
  background-image: -webkit-linear-gradient(top, #00ffd5, #10cc81);
  background-image: -moz-linear-gradient(top, #00ffd5, #10cc81);
  background-image: -ms-linear-gradient(top, #00ffd5, #10cc81);
  background-image: -o-linear-gradient(top, #00ffd5, #10cc81);
  background-image: linear-gradient(to bottom, #00ffd5, #10cc81);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #bf0046;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.playAgain:hover {
  background: #00ffb7;
  background-image: -webkit-linear-gradient(top, #00ffb7, #00d970);
  background-image: -moz-linear-gradient(top, #00ffb7, #00d970);
  background-image: -ms-linear-gradient(top, #00ffb7, #00d970);
  background-image: -o-linear-gradient(top, #00ffb7, #00d970);
  background-image: linear-gradient(to bottom, #00ffb7, #00d970);
  text-decoration: none;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
